@custom-media --viewport-4 (min-width: 480px);
@custom-media --viewport-7 (min-width: 768px);
@custom-media --viewport-9 (min-width: 992px);
@custom-media --viewport-12 (min-width: 1200px);

#duden:hover, #brand:hover {
    text-decoration: none;
    color: white;
}

.card-container {
    max-width: 60%;
    margin: 0 auto;
}

#actions {
    max-width: 40%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

